pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
spacy==2.3.5
Pillow
attrs
blis
certifi
chardet
cymem
docx2txt
idna
jsonschema
murmurhash
nltk
numpy
pandas
pdfminer.six
plac
preshed
pycryptodome
pyrsistent
python-dateutil
pytz
requests
six
sortedcontainers
srsly
textract
thinc
tqdm
urllib3
wasabi